<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>  

<body>

    <div class="container">

        <h1>Budgetter</h1>

        <nav>
            <a class="button" href="/budgets/new">new item</a>
        </nav>
      
        <table>
            <% for (let i = 0; i < allBudgets.length; i++) { %> 
            <tr>
            <td>
                <%= allBudgets[i].date %>
            </td>
            <td>
                <a href="/budgets/<%= i %> "> <%= allBudgets[i].name %> </a>
            </td>
            <td>
                <%= allBudgets[i].amount %>  
            </td>
            </tr>
            
            <% } %>
           
        </table>
        <div class="totalbalance">
        
        <p>Total balance: $</p> 

        <!-- Create a space between : and $ ? -->

        <p style="color: <%= col %>"> <%= bankA %></p>

        <style>
            .totalbalance {
                font-size: 21px;
                display: inline-flex;
            }
        </style>

        </div>
        
    </div>

</body>
</html>