<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>  

<body>
    <nav>
        <!-- Create New Budget Link Here -->
    </nav>

    <div class="container">
        <h1>Budgetter</h1>

        
        <table>
            <% for (let i = 0; i < allBudgets.length; i++) { %> 
            <tr>
            <td>
                <%= allBudgets[i].date %>
            </td>
            <td>
                <a href="/budget/<%= i %> "> <%= allBudgets[i].name %> </a>
            </td>
            <td>
                <%= allBudgets[i].amount %>
            </td>
            </tr>
            <% } %>
       
        </table>
    </div>

</body>
</html>